version: "3"
services:
  node-app:
    build:
      context: .
      args:
        NODE_ENV: development
    volumes:
      - ./:/app:ro
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - MONGO_USER=value
      - MONGO_PASSWORD=value
      - SESSION_SECRET=secret
    command: yarn dev

  mongo:
    environment:
      - MONGO_INITDB_ROOT_USERNAME=value
      - MONGO_INITDB_ROOT_PASSWORD=value